.btn-button{
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: var(--primaryBlue);
    color: white;
    font-size: 16px;
    position: relative;
    top: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
}
.btn-button:hover{
    background-color: var(--hoverPrimary);
}