body{
    background-color: #ADE1FF;
}
.image{
    height: 600px;
    width: 600px;    
}

.errorstyle{
    text-align: center;
}

.backhomebtn{
    width: auto;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    background-color: #006FFD;
    position: relative;
    bottom: 70px;
    cursor: pointer;


}
.link{
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;

}

.text .textError{
    position: relative;
    bottom: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.error .textcont{
    position: relative;
    bottom: 100px;
    color: rgb(74, 74, 74);
}

Button{
    position: relative;
    bottom: 80px;
}
