@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*Gudea */


:root{
  --primaryBlue : #006FFD;
  --background : #EAF2FF;
  --primaryText : #1F2024;
  --stroke : #C5C6CC;
  --textLight : #8F9098;
  --hoverPrimary : #005ed8;
}


*{
  font-family: 'Inter';
}

.content {
  background-color: var(--background);
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.left, .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-image {
  width: 700px;
  max-width: 700px;
  height: auto;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 300px;
}

.flipbtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-bottom: 20px; */
}

.flipbtn button {
  flex: 1;
  cursor: pointer;
  border: none;
  outline: none;
}

.flipbtn .btnstu {
  padding: 10px;
  background : white;
  color: black;
  font-size: large;
  font-weight: bolder;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.flipbtn .btntech {
  background : white;
  padding: 10px;
  color: black;
  font-size: large;
  font-weight: bolder;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 1s;
}

/* .flipbtn .btntech:hover, .flipbtn .btnstu:hover {
  background-color: #003554;
  color: #ffffff;
} */

.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-form h2 {
  color: #006FFD;
  margin-bottom: 40px;
  font-weight: bold;
}

.login-form input {
  width:100%;
  padding: 15px;
  /* margin: 5px 0; */
  border: 1px solid #C5C6CC;
  border-radius: 20px;
  outline: none;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  background-color: white;
  color: var(--primaryText);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.error {
  color: #ff1745d0;
  margin-bottom: 10px;
  font-weight: normal;
}
/* switch button */
.flipbtn .btnstu.active,
.flipbtn .btntech.active {
  background-color: #0582CA;
  color: #ffffff;
}

.flipbtn .btnstu,
.flipbtn .btntech {
  transition: background-color 0.3s, color 0.3s;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .left {
    display: none; /* Hide the image section on small screens */
  }

  .right {
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width on mobile */
  }

  .login-container {
    width: 100%;
    max-width: 400px; /* Increase max-width for better visibility on mobile */
    padding: 20px;
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%; /* Ensure inputs take full width on mobile */
    margin-left: 0;
    margin-top: 20px;
  }

  .flipbtn {
    width: 100%;
  }

  .flipbtn button {
    padding: 15px;
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .login-form .btn-button {
  
    width: 100%; /* Button takes full width on mobile */
  }
}


.error-bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  z-index: 9999;
}

.error__icon {
  margin-right: 10px;
}

.error__title {
  flex: 1;
}

.error__close {
  cursor: pointer;
}
